/* General styles */
:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #1a1a1a;
}


body {
    /* background-color: #f5f1f0; */
    background-color: #FBFBFB!important;
}

.service__article_job {
    /*
    background: var(--background-color);
    font-family: var(--font);
    */
    display: flex;
    justify-content: center;
}


section {
    font-family: 'Open Sans',Arial,sans-serif;
    /* border: 1px solid #ccc; */
    display: block;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(241,241,246,.95); */
}

section article {
    padding-top: 10%;
    padding-bottom: 10%;
}

section article h2 {
    font-weight: 600;
}

button {
    border-style: none;
}

.btn__contact {
    font-weight: 600;
}

#section__contact_references,
#section__blog,
#section__contact_me,
#section__services,
#section__job,
#section__portfolio,
#section__help_resolve{
    text-align: center;
}

#section__help_resolve {
    height: 400px;
}



.bg_color__red {
    background-color: #ed2204;
}

.color__text {
    color: #ed2204;
}

.btn__common {
    background-color: #ed2204;
    color: #fff;
    text-align: center;
}

.section__main__social__links li a i,
.section__main__social__links__contact a i{
    /* border: 2px solid #fff; */
    font-size: 18px;
}

/*#section__about_me,*/
#section__portfolio,
#section__services {
    background-color: #f5f1f0;
}

#section__contact_references {
    color: #1a1a1a;
}

#section___main,
#section__contact_references {
    /* background-color: #fff; /* #1a1a1a; */
}

#section___main {

}


#section__main__navbar {
    padding-left: 0;
}

#section__main__navbar ul li a {
    font-size: 13px;
    font-weight: bold;
}

#section___main__presentation {
    margin-top: 10%;
    margin-bottom: 25%;
    color: #ccc;
}

#section___main__presentation div p {
    margin-top: 3%;
    margin-bottom: 2%;
    /* font-family: 'Open Sans',Arial,sans-serif; */
    font-weight: 300;
    line-height: 1.55;
}

#section___main__presentation a {
    display: inline-block;
    padding: 0 30px 0 30px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    line-height: 50px;
    font-size: 14px!important;
}

#section___main__presentation a:hover {
    color: #fff;
}

#section__main__navbar ul li a.nav-link {
    /* color: #fff; */
    /* color: #1a1a1a;*/
    color: #484848;
}

/*
#section__about_me {
    background-color: #f5f1f0;
}
*/



#section__about_me #img__about_me{
    display: block;
    width: 100%;
    height: 600px;
    /* border: 2px solid brown; */
    background-image: url("../img/about.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*
#section__about_me #img__about_me_second {
    display: block;
    width: 200px;
    height: 350px; /* 350px */
/* border: 2px solid brown; *//*
background-image: url("../media/about/darya_two.webp");
box-shadow: rgba(0, 0, 0, 0) 0px 0px 15px 0px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-left: 3%;
/*
display: block;
background-image: url("../media/about/darya_two.webp");
box-shadow: rgba(0, 0, 0, 0) 0px 0px 15px 0px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-bottom: 135%;
margin-top: 25%;
margin-left: 0;
padding-left: 0;
*//*
}
*/


#section__about_me article div img:first-child{
    margin-right: 10px;
}

#section__about_me article {

}

#section__help_resolve {

}

#section__portfolio {

}

/* styles jobs */
#section__job {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

#section__job h2 {

}

#section__job article div {
    /*
    margin: 0 auto;
    width: 70%;
    */
}

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */
.timeline__outer {
    border-left: 2px solid #333;
}

/* Card container */
.timeline__card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: gray;
    border-radius: 8px;
    max-width: 400px;
}

/* Information about the timeline */
.timeline__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.timeline__title {
    color: orangered;
    position: relative;
}

/* Timeline dot  */
.timeline__title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;
}



/* styles services */
#section__services {

}

#section__contact_me {
    opacity: 0.4;
    height: 600px;
    background-attachment: scroll;
    background-image: url("../media/bg/contact_me.webp");
}

#section__blog {

}

#section__contact_references {
    height: 500px;
}

